.list {
  margin-bottom: 30px;
}

.list h2 {
  margin: 0px 0px 0px 30px;
}

.list--listarea {
  overflow-x: hidden;
  padding-left: 30px;
}

.list--list {
  transition: all ease 0.2s;
}

.list--item {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.list--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.list--item img:hover {
  transform: scale(1);
}

.list--left,
.list--right {
  position: absolute;
  width: 40px;
  height: 225px;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.2s;
}

.list--left {
  left: 0;
  background: linear-gradient(to right, #111 80%, transparent);
}

.list--right {
  right: 0;
  background: linear-gradient(to left, #111 80%, transparent);
}

.list:hover .list--left,
.list:hover .list--right {
  opacity: 1;
}

@media (max-width: 760px) {
  .list--left,
  .list--right {
    opacity: 1;
  }
}
